*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgba(148, 212, 128, 0.877);
    font-family:'Courier New', Courier, monospace;
}

body{
    min-height: 100vh;
    position: relative;
    /* background: url("./img/Abstract.jpg") no-repeat;
    background-size:cover;
    background-position:center; */
    /* display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center; */
}

header{
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid rgb(36, 27, 27);
    margin-bottom: 3rem;
    padding: 3rem 0;
    background: url("./img/Black\ Dragon.png") no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    .logo{
        color: rgba(21, 41, 216, 0.747);
        font-size: 5rem;
        font-weight: bold;
        border-radius: 50%;
        padding: 0;
        border: 1px solid transparent;
        box-shadow: 0 0 10PX green;
        width: 8rem;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        background: url("./img/Animated.png");
        background-size:cover;
        background-position:center;
        /* backdrop-filter: blur(10px); */
    }
    #title{
        margin-right: 2rem;
        font-size: 5rem;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: bisque;
        font-style: italic;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.box-main{
    /* border:1px solid rgba(190, 182, 182, 0.445); */


    background: url("./img/Abstract.jpg") no-repeat;
    background-size:cover;
    background-position:center;

    border-radius:10px;
    box-shadow:0 0 5px  rgba(233, 236, 238, 0.808);
    width:60vw;
    height: 400px;
    margin-bottom: 30px;
    padding:10px 20px;
    backdrop-filter:blur(10px);
}

.head{
    font-size: 3rem;
    margin-bottom: 40px;
    color: black;
}

.paragraphe{
    margin-bottom: 40px;
    font-size:1.6rem;
    color: chartreuse;
}

button{
    height:2rem;
    width:100%;
    border:none;
    border-radius:9px;
    outline:noen;
    background-color:rgba(29, 32, 224, 0.603);
}
button a{
    font-size:1.2rem;
    font-weight:bold;
    text-decoration:none;
    color:white;
}